<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>投稿一覧</strong></h4>
  </div>

  <div class="row">
    <div class="container text-center">
      <% @posts.each do |post| %>
        <table>
          <tr>
            <td><strong><%= post.user.name %></strong></td>
            <td>ゴルフ場：<strong><%= post.golf_spot.name %></strong></td>
            <td class="pl-5">スコア：<strong><%= post.score %></strong></td>
            <td class="pl-5">いいね</td>
            <td class="pl-3"><%= link_to "#{post.comments.count}コメント", post_path(post.id) %></td>
          </tr>
        </table>
        <%= link_to post_path(post.id) do %>
          <div class="text-left mb-3 text-body"><%= post.body %></div>
        <% end %>
      <% end %>
    </div>
  </div>
