<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>投稿フォーム</strong></h4>
  </div>

  <div class="row">
    <div class="container text-center">
      <%= form_with model: @post, url: posts_path, local:true do |f| %>
        <table class="form-group">
          <tr>
            <td><%= f.label :golf_spot, "ゴルフ場：", class:"m-0" %></td>
            <!--第一引数postモデルの値が入るカラム　第二引数はセレクトの選択肢　第３引数は第１引数で設定したidに　第４引数は選択肢に表示させるもの-->
            <td><%= f.collection_select :golf_spot_id, @golf_spots, :id, :name, class: "form-control border-dark", style:"width: 400px" %></td>
            <td><%= f.label :score, "スコア：", class:"ml-5 mb-0" %></td>
            <td><%= f.text_field :score, class: "form-control border-dark", style:"width: 60px" %></td>
          </tr>
        </table>
        <div class="form-group">
          <% f.label :body %>
          <%= f.text_area :body, class: "form-control border-dark", style:"height: 200px"%>
        </div>
        <div class="form-group">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group container text-center">
        <%= f.submit "投稿する", class: "btn btn-lg btn-success", style:"font-weight:bold;" %>
      </div>
      <% end %>
    </div>
  </div>
</div>