<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>投稿詳細</strong></h4>
  </div>

  <div class="row">
    <div class="container text-center">
      <table class="form-group">
        <tr id="post_<%= @post.id %>">
          <!--if文でGolfSpotが入力されていたら表示を記述-->
          <td>ゴルフ場：<strong><%= @post.golf_spot.name %></strong></td>
          <!--if文でScoreが入力されていたら表示を記述-->
          <td class="pl-5">スコア：<strong><%= @post.score %></strong></td>
          <!--いいねボタン-->
          <td class="like_btn">
            <%= render 'public/likes/like_btn', post: @post %>
          </td>
          <!--コメント数-->
          <td class="pl-3">
            <p>コメント：<%= @post.comments.count %></p>
          </td>
          <!--if文で投稿ユーザー以外表示できなくする-->
          <td class="pl-3"><%= link_to "削除する", post_path, method: :delete %></td>
        </tr>
      </table>

      <div class="text-left"><%= @post.body %></div>

      <!--コメント-->
      <div id="new_content">
        <%= render 'public/comments/comments_index', post: @post %>
      </div>

      <!--コメントフォーム-->
      <div>
        <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
      </div>

      <div class="text-right"><%= link_to "投稿一覧へ", posts_path %></div>
    </div>
  </div>
</div>