<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>投稿詳細</strong></h4>
  </div>

  <div class="row">
    <div class="container text-center">
      <table class="form-group">
        <tr id="post_<%= @post.id %>">
          <td class="pl-3">
            <% if @post.user.image.attached? %>
              <%= image_tag @post.user.image, size: "70x70" %>
            <% else %>
              <%= image_tag 'no_image', size: "70x70" %>
            <% end %>
          </td>
          <td class="pr-3">
            <%= link_to user_path(@post.user.id) do %>
              <%= @post.user.name %>
            <% end %>
          </td>
          <td>ゴルフ場：<strong><%= link_to ranking_path(@post.golf_spot.id) do %>
          <%= @post.golf_spot.name %><% end %></strong></td>
          <td class="pl-5">スコア：<strong><%= @post.golfscore %></strong></td>
          <!--いいねボタン-->
          <td class="like_btn pl-5">
            <%= render 'public/likes/like_btn', post: @post %>
          </td>
          <!--コメント数-->
          <td class="pl-3">
            コメント：<%= @post.comments.count %>
          </td>
          <td class="sentiment-score pl-3">本文の感情分析スコア[<%= @post.score %>]</td>

          <% if current_user == @user %>
          <td class="pl-3"><%= link_to "削除する", post_path, method: :delete %></td>
          <% end %>
        </tr>
      </table>

      <div class="text-left mb-3"><%= @post.body %></div>

      <!--コメント-->
      <div id="new_content">
        <%= render 'public/comments/comments_index', post: @post %>
      </div>

      <!--コメントフォーム-->
      <% if current_user != @user && current_user.email != 'guest@example.com' %>
        <div class="mt-3">
          <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
        </div>
      <% end %>

      <div class="text-right"><%= link_to "投稿一覧へ", posts_path %></div>
    </div>
  </div>
</div>