<div class='container'>
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>ランキング</strong></h4>
  </div>

  <div class='row'>
    <h5>ゴルフ場：<%= @golf_spot.name %></h5>
  </div>

  <table>
    <tr>
      <th></th>
      <th>すべてのユーザー</th>
      <th>スコア</th>
    </tr>
    <% @ranked_posts.each.with_index(1) do |post, i| %>
    <tr>
      <td><%= i %>位</td>
      <td><%= post.user.name %></td>
      <td><%= post.score %></td>
    </tr>
    <% end %>
  </table>

  <div class='row'>
    <h5>自分の順位</h5>
  </div>
  <table>
    <tr>
      <td><%= count %>位</td>
      <td><%= current_user.name %></td>
      <td><%= current_user. %></td>
    </tr>
  </table>
</div>