<div class='container'>
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>ランキング</strong></h4>
  </div>

  <div class='row'>
    <h5>ゴルフ場：<%= @golf_spot.name %></h5>
  </div>

  <table border="1" style="border-collapse: collapse">
    <tr>
      <th></th>
      <th>すべてのユーザー</th>
      <th>スコア</th>
    </tr>
    <% @ranked_posts.each.with_index(1) do |post, i| %>
    <tr class="text_center">
      <td><%= i %>位</td>
      <td><%= post.user.name %></td>
      <td><%= post.score %></td>
    </tr>
    <% end %>
  </table>

  <div class='row mt-4'>
  </div>
  <table border="1" style="border-collapse: collapse">
    <tr>
      <th></th>
      <th>自分の順位</th>
      <th>スコア</th>
    </tr>
    <tr>
      <td><%= @rank %>位</td>
      <td><%= current_user.name %></td>
      <td><%= @post.score %></td>
    </tr>
    <!--  <tr>-->
    <!--    <td>%= i %>位</td>-->
    <!--    <td>%= current_user.name %></td>-->
    <!--    <td>%= post.score %></td>-->
    <!--  </tr>-->
    <!--% end %>-->
  </table>
</div>