<div class="container">
  <div class="d-inline-block px-3 m-3 mb-4 border border-dark rounded">
    <h4 class="m-0"><strong>お知らせ詳細</strong></h4>
  </div>

  <div class="row">
    <div class="container text-center">
      <table>
        <tr>
          <td><%= @news.list %></td>
          <td class="pl-5"><%= @news.title %></td>
          <td class="pl-5"><%= @news.body %></td>
          <td class="pl-5"><%= @news.created_at.to_s(:datetime_jp) %></td>
        </tr>
      </table>
      <div class="form-group container text-center mt-5", style="font-weight:bold;">
        <%= link_to "お知らせ一覧", admin_news_index_path %>
      </div>
    </div>
  </div>