<div class="container">
  <div class='row'>
    <div class='col-md-3 col-lg-2 mt-3'>

      <% if user_signed_in? %>
        <!-- サイドバー -->
        <% if @user.name != "guestuser" %>
          <%= render 'public/users/info', user: @user %>
        <% end %>
      <% end %>

      <!-- 運営からのお知らせ -->
      <h4 class="title mt-4 px-1 border border-dark rounded", style="width:130px"><strong>運営からの<br>お知らせ</strong></h4>
      <% @news.each do |news| %>
        <table class='table table-borderless border-bottom'>
          <tr>
            <td class="p-0"><%= news.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="p-0"><%= news.list %></td>
          </tr>
          <tr>
            <td class="p-0"><%=news.body %></td>
          </tr>
        </table>
      <% end %>
    </div>

    <div class='col-md-8'>
      <div class="title px-3 m-3 mb-4 border border-dark rounded", style="width:130px">
        <h4 class="m-0"><strong>新着投稿</strong></h4>
      </div>

      <%= render 'public/posts/index', posts: @posts %>

    </div>
  </div>
</div>