<!DOCTYPE html>
<html>
  <head>
    <title>GoflFriend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <header class="sticky-top", style="background-color: #dcdcdc">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar text-center" href="/"><h1 class="text-center"><strong>GolfFriend</strong></h1></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse row" id="navbarNavDropdown">


            <!--エンドユーザー用ヘッダー-->
            <% if user_signed_in? %>
            <h5 class="mr-5">ようこそ、<%= current_user.name %>さん!</h5>
              <ul class="navbar-nav ml-auto">
                <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "About", about_path, class: 'nav-link text-dark' %></li>
                <% if current_user.name != "guestuser" %>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "マイページ", "/users/#{current_user.id}", class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "投稿する", new_post_path, class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "チャット一覧", chat_rooms_path, class: 'nav-link text-dark' %></li>
                <% end %>
                <!--<li class ="rounded border border-dark mr-5 bg-light">%= link_to "ランキング", ranking_path, class: 'nav-link text-dark' %></li>-->
                <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %></li>
              </ul>

            <!--管理者用ヘッダー-->
            <% elsif admin_signed_in?  %>
              <ul class="navbar-nav ml-auto">
                <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "会員一覧", admin_users_path, class: 'nav-link text-dark'%></li>
                <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "お知らせ投稿", new_admin_news_path, class: 'nav-link text-dark'%></li>
                <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "ゴルフ場追加", admin_golf_spots_path, class: 'nav-link text-dark'%></li>
                <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark'%></li>
              </ul>

            <!--ログイン前ヘッダー-->
            <% else %>
              <ul class="navbar-nav ml-auto">
                <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "About", about_path, class: 'nav-link text-dark'%></li>
                <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %></li>
                <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %></li>
                <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class: 'nav-link text-dark', method: :post %></li>
              </ul>
            <% end %>

            <!--投稿検索フォーム-->
            <div class="container justify-content-end pt-3">
              <div class="row">
                <div class="col-ml-auto mr-4">
                  <%= render 'public/searches/form' %>
                </div>
              </div>
            </div>
            <!--検索フォームここまで-->
          </div>
        </div>
      </nav>
    </header>

    <!--ヘッダーと被らないようにする-->
    <body style="padding-bottom:4rem">
    </body>

    <%= yield %>

    <!--フッター-->
    <footer class="fixed-bottom" style="background-color: #dcdcdc">
      <div style="padding: 5px;">
        <h6 class="text-dark text-center mr-3" id="footer_logo"><small>©GolfFriend</small></h6>
      </div>
    </footer>
  </body>
</html>
